<h1>
  Bienvenido al Super CoderHouse!
</h1>

<form>
  <div>
    <label>Nombre del producto:</label>
    <input id="texto"  >
    <button id="agregar">Agregar</button>
    <button id="eliminar">Eliminar</button>
   </div>

  <h1>Lista de productos</h1>
  <h2 id="item"></h2>


</form>






<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>